<%= render partial: 'components/jumbotron', locals: {title: "Gentlemen league",subtitle: "Le classement", image: '9.jpg' } %>

<div class="container">
    <% if @teams.count == 0 %>
        <h2> Aucune équipe n'a encore été créée </h2>
        <p> Rapprochez-vous de l'organisateur de l'événement </p>
    <% else %>
        <%= render partial:"teamsTable",locals: {teams: @teams} %>
    <%end%>
    <%= render "components/returnButton" %>
</div>
