<footer class="container-fluid bg-dark text-white mt-5 py-4 text-center">
  <p class="font-weight-light">Fait en vitesse par Antoine Fournier pour le compte des gentlemens</p>
  <em class="font-italic font-weight-light">N'hésitez pas à me rapporter les buggs et idées d'améliorations par mail à <%= mail_to "ahm.fournier@laposte.net" %> </em>
</footer>