
<div class="jumbotron jumbotron-fluid" style="background-image: url(<%= asset_path '1.jpg' %>); background-size: cover; ">
  <div class="container" >
    <h1 class="display-4">Gentlemen league</h1>
    <p class="lead">La pelote à haut niveau ?</p>
  </div>
</div>
