  <!-- Bandeau d'acceuil générique -->
    <div class=" container p-1 mt-1 bg-secondary text-white">
        <div class="row text-center">
            <div class="col-9 text-left pl-5">
                <h3 class="section-title"> Formulaire de création d'un joueur </h3>
            </div>
        </div>
    </div>

  <%= render partial:"form", locals:{player: @player} %>

