<% if @team.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p><small>Nous n'avons pas réussi à créer la poule pour la (ou les) raison(s) suivante(s) :</small></p>
    <ul><small>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </small></ul>
  </div>
<% end %>


<div class="container">
    <%= render partial: "teamForm", locals:{team: @team} %>
    <% if @teams.count == 0 %>
        <h2> Aucune équipe n'a encore été créée </h2>
        <p> La création d'au moins deux équipes est nécessaire pour créer des matchs </p>
    <% else %>
        <%= render partial:"teamsTable",locals: {teams: @teams} %>
    <%end%>
</div>

